.container {
  position: relative;
  height: 340px;
  width: 340px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 12px;
  border-radius: 100%;
}

.cardStyle {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.stage {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  color: #fff;
  background-color: darkblue;
  border: #ccc solid 8px;
  cursor: pointer;
}

.start {
  font-size: 16px;
}

.score {
  font-size: 38px;
  line-height: 98px;
  text-align: center;
}

.lost {
  width: 150px;
  height: 150px;
  font-size: 16px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flash.flash {
  background-color: blanchedalmond;
}

.blue {
  background-color: blue;
  border-bottom-left-radius: 100%;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.yellow {
  background-color: yellow;
  border-bottom-right-radius: 100%;
}
